.cwd-crossword-row{-webkit-touch-callout:none;-webkit-user-select:none;height:100%;margin:0;max-width:100%;min-width:400px;user-select:none;width:900px}
.cwd-square.cwd-letter.cwd-first{position:relative}
input.cwd-word{display:none}
.cwd-square.cwd-letter.cwd-correct{background-color:#b3ffb4}
.cwd-square.cwd-letter.cwd-error{background-color:#ff372c63!important}
.cwd-row{line-height:1.4;margin:0}
.cwd-square.cwd-letter.cwd-first div.cwd-counter{content:'1';font-size:.5em;height:30px;line-height:1em;position:absolute;right:0;text-align:right;top:0;width:30px;z-index:10}
.cwd-crossword-container{bottom:0;left:0;right:0;text-align:center;top:0}
.cwd-square{-webkit-touch-callout:none;-webkit-user-select:none;background-color:#eee;border:1px solid transparent;display:inline-block;font-size:24px;height:1.25em;line-height:1.25em;margin:0 1px 1px 0;user-select:none;vertical-align:middle;width:1.25em}
.cwd-square.cwd-letter{border-color:#202020}
.cwd-center{margin:0 auto}
.cwd-crossword-container .cwd-word,.cwd-crossword-container .cwd-clue{display:inline-block;height:1.5em;padding:0 5px}
.cwd-crossword-container .cwd-word{text-align:right;width:100px}
.cwd-crossword{display:block;padding:0 15px}
.cwd-letter{-webkit-user-select:text;background-color:#fff;user-select:text}
.cwd-char:focus{-moz-box-shadow:0 0 0 2px #ff2020ff;-webkit-box-shadow:0 0 0 2px #ff2020ff;box-shadow:inset 0 0 0 2px #ff2020ff}
#cwd-crossword input.cwd-char{background:none;background-color:transparent;border:0;cursor:pointer;font-size:inherit;height:1.35em;margin:-1px 0 0 -1px;outline:0;padding:0;position:relative;text-align:center;text-transform:uppercase;width:1.35em;z-index:9}
.cwd-hide{visibility:hidden}
.cwd-clueReadOnly{border:0;outline:0}
.crossword_wrapper{align-items:center;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-around;margin:0 auto!important;max-width:100%;width:max-content}
.radio_btn{margin:0;padding:0 10px}
.cwd-crossword-questions{padding:0 5px;width:100%}
#modal_form_crossword{background:#fff;border:1px #7f7f7f solid;border-radius:3px;display:none;left:37%;margin-top:-150px;max-width:25%;padding:30px 10px;position:fixed;width:100%;z-index:1100}
#modal_form_crossword #modal_close{cursor:pointer;display:block;font-family:cursive;font-size:16px;height:21px;position:absolute;right:10px;top:0;width:21px}
#modal_form_crossword .content{padding:15px;text-align:center}
#overlay{-moz-opacity:.8;background-color:#000;cursor:pointer;display:none;filter:alpha(opacity=80);height:100%;left:0;max-width:100%;opacity:.6;position:fixed;top:0;width:100%;z-index:1000}
.cwd-square.cwd-letter.cwd-correct .cwd-char,.cwd-square.cwd-letter.cwd-error .cwd-char{background-color:transparent!important}
@media print {
@page{size:landscape}
.cwd-crossword-questions{display:block;max-width:100%}
}
@media screen and (max-width: 767px) {
::-webkit-scrollbar{display:none}
.cwd-square.cwd-letter.cwd-first div.cwd-counter{font-size:.8em;height:30px;line-height:1em;right:0;text-align:right;top:0;width:30px}
.cwd-square,#cwd-crossword input.cwd-char{font-size:inherit}
.cwd-clue{width:300px}
body .crossword_wrapper{display:block}
.cwd-crossword-questions{max-width:100%}
.cwd-crossword-row{min-width:auto;overflow:scroll}
.cwd-crossword{overflow:scroll;width:100%}
.crossword_wrapper{align-items:center;display:flex;flex-direction:row;margin:0 auto;overflow:hidden;padding-top:20px;width:100%}
.cwd-crossword-container{align-items:center;display:flex;flex-direction:row;margin:0 auto;width:max-content}
#modal_form_crossword{border-radius:0;left:0;margin:0 auto;max-width:90%;right:0;width:100%}
}
