.wpdoodle .entry-content table {
    width: 100%;
}

.wpdoodle .entry-content table > caption {
    padding: 1.5ex;
    font-size: 150%;
}

.wpdoodle .entry-content table > thead > tr > th {
    padding: 1.5ex;
    text-align: center;
}

.wpdoodle .entry-content table > tbody > tr > td {
    padding: 1.5ex;
    text-align: center;
}

.wpdoodle .entry-content table > tfoot > tr > th {
    padding: 1.5ex;
    text-align: center;
}

.wpdoodle .entry-footer {
    text-align: right;
}

.wpdoodle .entry-content #wpdoodlez-form {
    border: solid #333 1px;
}

.wpdoodle table > tbody > tr.myvote > td, .wpdoodle table > tbody > tr.myvote > td * {
    font-weight: bold;
}
.wpdoodle table > tbody > tr.myvote:hover * {
    color: red;
}